:root {
    --main-text-color: #757575;
    --accent-text-color: #2196f3;
    --background-color-hero: #2f303a;
    --title-text-color: #212121;
    --white-color: #ffffff;
    --black-color: #000000;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --filter-background: #f5f4fa;
    --header-line: #ececec;
}
body {
    background-color: #ffffff;
    color: var(--main-text-color);
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* обнуляет оформление для ul */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid rgb(41, 113, 219);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--header-line);
}
/* Лого  */

.blue-logo {
    color: var(--accent-text-color);
}
.logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--black-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* Навигация */

.navigation {
    display: flex;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-text-color);
}

/* Контакты */

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link {
    color: var(--main-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-text-color);
}

/* Main */

/* секция Hero */

.hero {
    background-color: var(--background-color-hero);
}

.hero-main {
    padding: 200px 252px;
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.hero-button {
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;

    color: var(--white-color);
    background-color: var(--accent-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* наши преимущества */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.no-padding {
    padding-top: 94px;
}
/* типа "скрыл" логический заголовок */
.hidden-title {
    position: absolute;
    visibility: hidden;
}
.advantages-list {
    display: flex;
}
.advantages-list .item:not(:last-child) {
    margin-right: 30px;
}

.advantages-title {
    margin-bottom: 10px;

    font-size: 14px;
    color: var(--title-text-color);
    font-weight: 700;
    text-transform: uppercase;
}
.advantages-text {
    line-height: 1.71;
}

/* Чем мы занимаемся */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.products {
    display: flex;
}
.products .item:not(:last-child) {
    margin-right: 30px;
}

/* Наша компуха */

.team {
    display: flex;
    text-align: center;
}
.team .item:not(:last-child) {
    margin-right: 30px;
}

.team .team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
}

/* Footer */

.footer {
    background-color: var(--background-color-hero);
}
.footer-block {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--white-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.white-link {
    text-decoration: none;
    color: var(--white-color);
    font-style: normal;
}
.white-link:hover,
.white-link:focus {
    color: var(--accent-text-color);
}
.clear-link {
    text-decoration: none;
    color: var(--footer-text-color);
    font-style: normal;
    line-height: 1.71;
}
.clear-link:hover,
.clear-link:focus {
    color: var(--accent-text-color);
}
.address-list .item {
    display: block;
}
.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}

/* part2 PORTFOLIO */

/* Кнопки */
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters .item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--filter-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: 'Roboto';
}
.filter-button:hover,
.filter-button:focus {
    color: var(--white-color);
    background-color: var(--accent-text-color);
}

/* Проекты */
.projects {
    display: flex;
    flex-wrap: wrap;
}
.project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-text {
    font-size: 16px;
    line-height: 1.88;
}
